header {
  background-color: #363A40;
  color: #FFFFFF;
  max-width: 1280px;
  width: 1280px;
}
body{
  max-width: 1280px;
  width: 1280px;
}
.div-header{
  display: flex;
  align-items: center;
  height: 51px;
}
.itemTabList{
  display: flex;
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
}
.itemTabList li{
  flex-basis: 16%;
  border-radius: 5px 5px 0px 0px;
  height: 38px;
}

.itemTabList li:hover{
  border-radius: 5px 5px 0px 0px;
  background-color: grey;
  opacity: 0.8;
  color:#363A40;
}
.itemTabList li:hover::after{
  content: '';
  opacity: 0;
}

.itemTabList li:first-child::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 182.86px;
  bottom: 8px;
}

.itemTabList li:nth-child(2)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 365.72px;
  bottom: 8px;
}
.itemTabList li:nth-child(3)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 548.58px;
  bottom: 8px;
}
.itemTabList li:nth-child(4)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 731.44px;
  bottom: 8px;
}

.itemTabList li:nth-child(5)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 914.3px;
  bottom: 8px;
}
.itemTabList li:nth-child(6)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 1097.16px;
  bottom: 8px;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  padding-left: 0; /* Сдвигаем список влево */
  padding-bottom: 0;
}

.sdo-logo{
  padding-top: 12px;
  padding-left: 16px;
  height: 35px;
}

.current-date{
  height: 32px;
  width: 196px;
  color: #FFFFFF;
  position: relative;
  top: 10px;
  left: 75px;
  padding:0px;

}
input{
  text-transform: capitalize;
}
.current-date::part(input-field){
  color: #FFFFFF;
  min-height: 32px;
  text-align: center;
  padding-left: 10px;
  text-transform: capitalize;
}
.dataPrefix{
  color: #ffffff;
  text-transform: capitalize;
  padding-left: 5px;
}

.current-time{
  height: 32px;
  width: 133.33px;
  border-radius: 4px;
  position: relative;
  top: 10px;
  left: 100px;
  padding:0px;
}
.current-time::part(input-field){
  color: #FFFFFF;
  height: 32px;
  background-color: #FFFFFF1A;
  padding-left: 10px;
}
.timePrefix{
  color: #FFFFFF;
  padding-left: 5px;
}

/*todo set color for disabled*/
vaadin-text-field::part(input-field){
  background: #FFFFFF1A;
  color: #FFFFFF;
  padding-left: 0;
}

.current-readiness{
  height: 32px;
  width: 160px;
  position: relative;
  top: 10px;
  left: 125px;
  padding:0px;
  background-color:#00853D ;
  border-radius: 4px;
}
.current-readiness::part(input-field){
  color: #FFFFFF;
  height: 32px;
  overflow: visible;
  padding-left: 20px;
}

.user-icon{
  height: 20px;
  width: 17px;
  position: relative;
  bottom: 2px;
  left: 235px;
  padding-left: 28px;
  padding-top: 23px;
  padding-right: 7px;
  /*color: #ffffff;*/
}
.user-full-name{
  font-size: large;
  position: relative;
  left: 230px;
  width: 350px;
  padding-left: 6px;
  padding-top: 19px;
  font-size: var(--lumo-font-size-xl);
  background: none;
}
.user-full-name::part(input-field){
  background: none;
  padding-top: 5px;
}
/*vaadin-text-field::part(input-field){*/
/*  background: #FFFFFF1A;*/
/*  color: #FFFFFF;*/
/*}*/
.bell-icon{
  height:32px;
  width: 32px;
  position: relative;
  top: 10px;
  left: 205px;
}
.user-full-name::after{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 5px;
}

H1{
  color: #FFFFFF;
  padding-left: 13px;
  padding-top: 1.25px;
  padding-bottom: 1.25px;
  font-size: 18px;
}

header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);

  outline: 0;
  background-color: #FFFFFF1A;
  color: #FFFFFF99;
  border-radius: 5px 5px 0px 0px;
  height: 38px;
}

header nav a:active {
  background-color: #FFFFFF;
  color: #363A40;
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight]  {
  color: #363A40;
}

header nav a[highlight] {
  background-color: #FFFFFF;
}

