header {
  background-color: #363A40;
  color: #FFFFFF;
  max-width: 1280px;
  width: 1280px;
}
.itemTabNav{


}

body{
  max-width: 1280px;
  width: 1280px;
}

.itemTabList{
  display: flex;
  margin: 0px;
  flex-grow: 1;
  border-radius: 5px 5px 0px 0px;
}
.itemTabList li{
  flex-basis: 16%;
  border-radius: 5px 5px 0px 0px;

}
.itemTabList li:hover{
  background-color: #FFFFFF;
  color:#363A40;
  border-radius: 5px 5px 0px 0px;
}
.itemTabList li:first-child::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 182.86px;
  bottom: 8px;
}
.itemTabList li:nth-child(2)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 365.72px;
  bottom: 8px;
}
.itemTabList li:nth-child(3)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 548.58px;
  bottom: 8px;
}
.itemTabList li:nth-child(4)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 731.44px;
  bottom: 8px;
}

.itemTabList li:nth-child(5)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 914.3px;
  bottom: 8px;
}
.itemTabList li:nth-child(6)::after{
  content: '';
  width: 0px;
  height: 15px;
  border: 1px solid #363A40;
  position: absolute;
  left: 1097.16px;
  bottom: 8px;
}
li {
  list-style-type: none; /* Убираем маркеры */


}
ul {
  padding-left: 0; /* Сдвигаем список влево */
  padding-bottom: 0;

}



.sdo-logo{
  padding-top: 12px;
  padding-left: 16px;
  height: 35px;
}

.current-date{
  height: 32px;
  width: 196px;
  padding-left: 114px;
  padding-top: 19px;
  color: #FFFFFF;
}

.current-time{
  height: 32px;
  width: 133.33px;
  padding-left: 36px;
  padding-top: 19px;
}

/*todo set color for disabled*/
vaadin-text-field::part(input-field){
  background: #FFFFFF1A;
  color: #FFFFFF;
}
.current-date::part(input-field){
  color: #FFFFFF;
}

.TextField[aria-disabled]{
  color: #FFFFFF;
}

.current-readiness{
  height: 32px;
  width: 150px;
  padding-left: 36px;
  padding-top: 19px;
}

.current-readiness::part(input-field){
  background: #00853D;
  color: #FFFFFF;
}


.user-icon{
  height: 20px;
  width: 17px;
  position: relative;
  bottom: 3px;
  left: 85px;
  padding-left: 28px;
  padding-top: 23px;
  padding-right: 7px;
  /*color: #ffffff;*/
}

.user-full-name{
  font-size: large;
  position: relative;
  left: 80px;
  padding-left: 6px;
  padding-top: 19px;
  font-size: var(--lumo-font-size-xl);
}

/*vaadin-text-field::part(input-field){*/
/*  background: #FFFFFF1A;*/
/*  color: #FFFFFF;*/
/*}*/
.bell-icon{
  height:32px;
  width: 32px;
  position: relative;
  top: 10px;
  left: 75px;
}
.user-full-name::after{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 28px;
}


H1{
  color: #FFFFFF;
  padding-left: 13px;
  padding-top: 14px;
}

header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);
  border-radius: var(--lumo-border-radius-m);
  outline: 0;
  background-color: #FFFFFF1A;
  color: #FFFFFF99;
  border-radius: 5px 5px 0px 0px;
}

header nav a:hover {
 /* background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-color-50pct);*/
  background-color: grey;
  opacity: 0.8;
  color:#363A40;
  border-radius: 5px 5px 0 0;

}

header nav a:active {
  background-color: #FFFFFF;
  color: #363A40;
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight]  {
  color: #363A40;
}

header nav a[highlight] {
  background-color: #FFFFFF;
}

