@import url('./main-layout.css');
@import url('./adjacent-systems-status-panel.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');


html{
--lumo-secondary-text-color:  #000;
--lumo-body-text-color: rgba(255, 255, 255, 0.6);


}


:host([readonly])::after {
    color: red; /* змінюємо колір тексту */
    background-color: #f2f2f2; /* змінюємо фоновий колір */
    border: 3px solid #ff0000;
}
